/* СРОКИ:; */
/*
4 часа – до первой версии
1 час – доводка первого json'а
2 часа – генерация второго
3 час – генерация элементов по списку сцен


*/
/*  */


/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
html, body, #root {
  width: 100%;
  height: 100vh;
}

body {
  background: url(binding_light.png);
}

.App {
  width: 100%;
  height: 100%;
  padding: 0;
}

  .workarea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
      

    .workarea .textareas {
      display: flex;
      height: 60%;
      padding-top: 10px;
    }

      .workarea .textareas .textarea-getjson,
      .workarea .textareas .textarea-firstjson,
      .workarea .textareas .textarea-scenes {
        width: 50%;
        height: 90%;
        margin: 0 20px;
      }
        .workarea .textareas .textarea-getjson {
          /*background: #ccc;*/
        }

        .workarea .textareas .textarea-getjson textarea,
        .workarea .textareas .textarea-firstjson textarea,
        .workarea .textareas .textarea-scenes textarea {
          width: 100%;
          height: 90%;
          border: 2px solid #000;
          outline: none;
        }

        .workarea .textareas .textarea-getjson-controls {
          display: flex;
          align-items: flex-end;
          margin-top: 10px;
          /*justify-content: flex-start;*/
          /*height: 10%;*/
        }
          .workarea .textareas .textarea-getjson-controls h2 {
            margin: 0;
            padding: 0;
          }
          .workarea .textareas .textarea-getjson-controls .textarea-getjson-duration {
            border: 2px solid #000;
            height: 30px;
            margin-left: 30px;
            padding-left: 10px;
            font-size: 24px;
            outline: none;
          }

    .workarea .controls {
      width: calc(100%-40px);
      height: 10%;
      margin-top: 20px;
      padding: 0px 20px 0 20px;
    }
      .workarea .controls .controls-interface {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column-reverse;
      }
      .workarea .controls .selects-list-title {
        margin: 0px 0 10px 0;
      }
      .workarea .controls .selects-list-wrapper {
        width: 60%;
      }
      .workarea .controls .selects-list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        /*margin-bottom: 20px;*/
      }
        .workarea .controls .selects-list h3 {
          margin: 0;
        }
        .workarea .controls .selects-list h4 {
          margin: 0;
        }
        .workarea .controls .selects-list p {
          margin: 10px 0 0 0;
          font-size: 13px;
          line-height: 18px;
        }
        .workarea .controls .selects-list select {
          /*margin-top: 10px;*/
        }
        /*.workarea .controls .selects-list */

      .workarea .controls .textarea-getjson-controls {
        display: flex;
        width: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
        /*margin-left: 5%;*/
        align-items: flex-end;
        flex-direction: row;
        /*width: 100%;*/
        text-align: left;
        /*margin-top: 10px;*/
      }
        .workarea .controls .textarea-getjson-controls h2 {
          margin: 0 10px 0 0;
          padding: 0;
        }
        .workarea .controls .textarea-getjson-controls .textarea-getjson-duration {
          /*width: 100%;*/
          height: 30px;
          margin-top: 10px;
          margin-left: 0px;
          padding-left: 10px;
          font-size: 24px;
          border: 2px solid #000;
          outline: none;
        }

      .workarea .controls button {
        display: block;
        width: 100%;
        height: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
        border: 2px solid #000;
        background: #fff;
        font-size: 20px;
        font-weight: 600;
        outline: none;
      }
        .workarea .controls button:disabled {
          /*border-color: #ccc;*/
          color: #ccc;
        }

    .controls-scenes-selects {
      /*border: 2px solid #000;*/
      display: none;
    }

    .controls select {
      width: 60px;
      height: 40px;
      margin-right: 20px;
      border: 2px solid #000;
      border-radius: 0;
      font-size: 24px;
      outline: none;
    }


